# created by virtualenv automatically
Testcases/allure-results/
# Virtualenv
venv/
/Testcases/webdriver/Google_Chrome_for _Testing.app/
/Testcases/webdriver/chromedriver
/.idea/
/allure-report/*
.env 2
/Testcases/Reports/*
/Reports/
/Testcases/PXD_Feed_1_standerdise.xlsx
