# created by virtualenv automatically
Testcases/allure-results/


# Virtualenv
venv/
/Testcases/webdriver/Google_Chrome_for _Testing.app/
/Testcases/webdriver/chromedriver
/.idea/
/allure-report/*
/Testcases/Reports/*
/Reports/
